$footer-bg: $purple;
$footer-color: $white;
$footer-hover-color: $green;
$footer-nav-text: $white;
$footer-font: $josefin;


footer{
    padding: 30px 0;
    background-color: $footer-bg;
    font-family: $footer-font;
    .container{
        ul{
            list-style: none;
            padding-left: 0;
            margin-bottom: 40px;
            li{
                a{
                    display: block;
                    text-align: center;
                    color: $footer-color;
                    padding: 5px 0;
                    
                    &:hover, 
                    &.active{
                        color: $footer-hover-color;
                    }
                } // a end
            } // li end
        } // ul end
        p{
            text-align: center;
            color: $footer-color;
            margin: 0;
        }
    } // .container end
} // footer end

@media(min-width: 768px){
    footer{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul{
                display: flex;
                margin-bottom: 0;
                li{
                    
                    a{
                        padding: 5px;
                    }
                } // li end
            } // ul end
        } // .container end
    } // footer end
}

@media(min-width: 992px){
    footer{
        .container{
            ul{
                li{     
                    a{
                        padding: 5px 15px;
                    }
                } // li end
            } // ul end
        } // .container end
    } // footer end
}