$footer-bg: $purple;
$footer-color: $white;
$footer-nav-text: $white;
$footer-nav-font: $josefin;


footer{
    padding: 30px 0;
    background-color: $footer-bg;
    
        ul{
            list-style: none;
            padding-left: 0;
            margin-bottom: 30px;
            a{
                display: block;
                text-align: center;
                padding: 5px 0;
                font-family: $footer-nav-font;
                font-weight: $font-bold;
                color: $footer-color;
                font-size: 1.8rem;
        
                &:hover, 
                &.active{
                color: lighten(complement($footer-bg), 15%);
                    }
                } // a end
        } // ul end
        p{
            text-align: center;
            color: $footer-color;
        }
} // footer end

@media(min-width: 768px){
    footer{ 
        ul{
            display: flex;
            justify-content: center;
            align-items: center;    
            a{
                padding: 5px 20px;
            }
        } // ul end
    } // footer end
}
